/* CSS Document */
@media (min-width:901px){
.top-header{
	background-color: #000;
}
.navbar-td{
    display: flex;
    justify-content: space-between;
	height: 50px;
}
.navbar-td a{
	font-weight: 600;
    color: #fff;
    margin-left: 10px;
}
.navbar-td a:hover{
	color: #FFC50E;
}
.navlink{
	padding: 15px 25px 15px 0px;
}
.tieude{
	display: flex;
}
.tieude img{
	width: 30px;
	height: auto;
	margin: 10px 0px 0px 15px;
}
.logo{
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 30px 0px 30px 0px;
}
.logo a{
	text-align: center;
}
.logo img{
	width: auto;
	height: 85%;
}
.header{
	height: 335px;
}
.navmenu{
	display: flex;
    width: 100%;
    justify-content: center;
}
.menu{
	z-index: 2;
	display: flex;
    text-align: center !important;
    background-image: linear-gradient(to right, #b3d6d4, #f1ecdc);
    width: 80%;
	max-width: 1000px;
	height: 70px;
    justify-content: space-between;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
}
.menu-content{
	display: flex;
	height: 40px;
}
/*Nut trong suốt đen*/
.buton-or{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
	background-color: #FFC50E;
    color: #000;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 10px;
	border-radius: 10px;
}
.buton-or:hover{
	background-color: #000;
    margin: 0px 2px 0px 2px;
    border-radius: 10px;
	color: #fff;
}
/*Nut trong suốt đen*/
.buton-cash{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000!important;
    margin: 0px 2px 0px 2px;
    padding: 10px;
	border-radius: 10px;
	border: 2px solid #000;
	height: 100%
}
/*.buton-cash:hover{
	background-color: #fff;
	border: 2px solid #fff;
	filter: invert(1);
}
*/
.buton-cash span{
	transform: rotate(-90deg);
    padding: 3px 0px 0px 0px;
    font-size: 18px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.drop-cash{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    align-items: flex-end;
}
.drop-cash input{
	box-sizing: border-box;
    padding: 0;
    width: 144px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
	z-index: 2;
}
.drop-cash input:checked ~ .buton-cash{
	background-color: #fff;
	border: 2px solid #fff;
	filter: invert(1);
}
.drop-cash input:checked ~ .buton-cash span{
	transform: rotate(90deg);
}
.drop-cash ul{
	display: flex;
    z-index: 200;
    box-shadow: 0px 5px 6px -3px #929292;
    width: 100%;
    background-color: #000;
    transform: scaleY(0);
    /*transform: none;*/
    transform-origin: top;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    border-radius: 10px;
    margin: 5px 0px 0px 0px;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0px 10px 10px;
}
.drop-cash input:checked ~ ul{
	transform: none;
}
.drop-cash ul a{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 10px;
}
.drop-cash ul a:hover{
	color: #FFC50E;
}
.buton-cash img{
	width: 25px;
	height: auto;
	margin-right: 10px;
}
.buton-cash a{
	color: #000;
}
.buton-cash a:hover{
	color: #000;
}
/*Nut cam chữ đen*/
.buton-tf{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 10px;
}
.buton-tf:hover{
	background-color: #000;
    margin: 0px 2px 0px 2px;
    border-radius: 10px;
	color: #fff;
}
.taikhoan{
	display: flex;
    align-items: center;
}
.taikhoan img{
	width: 20px;
    height: 20px;
}
.taikhoan span{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFC50E;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 5px;
}
.menu button{
	background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin: 0px 2px 0px 2px;
    border-radius: 10px;
    border: 2px solid #000;
    outline: 0px;
    padding: 5px 10px 5px 10px;
}
.menu button:hover{
	background-color: #000;
    margin: 0px 2px 0px 2px;
    border-radius: 10px;
	color: #fff;
}
.btnmenu{
	width: 100%;
}
.box-cate{
	width: 100%;
	margin: 75px 0px 50px 0px;
	padding: auto 10px auto 10px;
}
.title-box{
	display: flex;
    justify-content: center;
}
.title-box h2{
	background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 40px 15px 40px;
    border-radius: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
	margin-bottom: 30px;
}
.box-cate-item{
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px;
    max-width: 1000px;
    min-width: 900px;
    width: 100%;
    flex-wrap: wrap;
}
.item{
    float: left;
    width: 20%;
    margin: 0px 15px 50px 15px;
    border-radius: 12px;
    background-image: linear-gradient(to right, #b3d6d4, #f1ecdc);
    height: 270px;
    position: relative;
}
.item:hover{
	box-shadow: -17px 22px 34px -14px #b7b7b7;
	transform: scale(105%);
	background-image: none;
	background-color: #FFC50E;
}
.item a{
	color: #000;
}
.item a:hover{
	color: #000;
}
.item span{
    display: flex;
    font-weight: 700;
    font-size: 17px;
    justify-content: center;
    height: 15%;
    align-items: center;
}
.item ul{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 25px;
	height: 55%;
}
.box-icon{
	display: flex;
    height: 30%;
    justify-content: center;
    align-items: flex-end;
}
.box-icon img{
	height: 75%
}
.title-pn{
	display: flex;
    justify-content: center;
}
.title-pn h2{
	background-color: #FFC50E;
    color: #000;
    text-align: center;
    padding: 15px 40px 15px 40px;
    border-radius: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 800;
	margin-bottom: 85px;
}
.item-pn{
    float: left;
    width: 20%;
    margin: 0px 15px 50px 15px;
    border-radius: 12px;
    background-image: linear-gradient(to right, #b3d6d4, #f1ecdc);
    height: 265px;
    position: relative;
}
.item-pn-nd{
	transform: translateY(-50px);
	height: 315px;
}
.item-pn:hover{
	box-shadow: -17px 22px 34px -14px #b7b7b7;
	transform: scale(105%);
	background-image: none;
	background-color: #FFC50E;
}
.item-pn span{
	display: flex;
    font-weight: 800;
    font-size: 17px;
    justify-content: center;
	margin-top: 20px;
}
.item-pn img{
	width: 20px;
	height: 100%;
}
.item-pn ul{
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 0px 25px;
}
.store-container{
	display: flex;
    justify-content: center;
}
.store{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.store img{
	width: 100%;
    border-radius: 10px;
}
.store-br{
    display: flex;
    width: 45%;
    border-radius: 15px;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: center;
}
.store-br span{
	font-size: 17px;
	font-weight: 700;
}
.store-text{
	margin-top: 10px;
}
.avt-pn{
	display: flex;
    justify-content: center;
}
.avt-pn img{
	width: 100px;
    border-radius: 100%;
    outline: 6px solid #fff;
    border: 1px solid #000;
}
.info-pn{
	display: flex;
	margin: 10px 10px 0px 15px;
}
.info-pn a{
	margin: -2px 0px 0px 5px;
}
.contact{
	background-color: #000;
	display: flex;
    justify-content: center;
}
.contact-nd{
	display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-around;
}
.contact-child{
    width: 300px;
    height: 250px;
    margin: 45px 10px 30px 10px;
}
.contact-child-nd{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-child-nd h2{
	font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}
.contact-child-nd span{
	font-size: 18px;
	font-weight: 700;
	margin-left: 5px;
}
.contact-text{
	display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact-text p{
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-align: center;
}
.contact-text a{
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-align: center
}
.contact-text a:hover{
	color: #FFC50E;
}
.help-nd{
	display: flex;
    color: #000;
    background-color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    justify-content: center;
	margin-bottom: 15px;
}
.help-nd:hover{
	background-color: #FFC50E;
}
.help-nd img{
	width: 40px;
    height: auto;
}
.boxpay{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    outline: 0;
}
.boxpay-title{
    display: flex;
 	background-color: #FFC50E;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    height: 50px;
}
.boxpay-title span{
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
}
.boxpay-nd{
    position: relative;
    display: flex;
    justify-content: center;
	padding: 20px 0px;
}
.boxpay-nd-item{
    width: 200px;
    border-radius: 15px;
    margin: 10px;
	background-image: linear-gradient(to right, #b3d6d4, #f1ecdc);
}
.boxpay-nd-item a{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    width: 100%;
    margin:0px;
}
.boxpay-nd-item a:hover{
	background-color: #FFC50E;
    margin: 0px;
    border-radius: 15px;
	color: #fff;
}
.boxpay-nd-item img{
	width: 100%;
}
.boxpay-bt{
	display: flex;
    justify-content: center;
    padding: 15px 0px;
}
.boxpay-bt button{
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	width: auto;
	padding: 5px 20px 5px 20px;
	border: 0px;
}
.boxpay-bt button:hover{
	background-color: #FFC50E;
}
/*Product*/
.cont-product{
	display: flex;
	justify-content: center;
	}
.product{
	display: flex;
	width: 80%;
	max-width: 1200px;
	margin-top: 30px;
	}
.choise-service{
	margin-top: 50px;
	min-width: 220px;
	font-weight: 500;
	}
.choise-service ul{
	list-style: none;
	padding: 0px;
	}
.choise-service h2{
	font-size: 20px;
    font-weight: bold;
	}
.menulinks{
	position: relative;
    display: block;
    padding: 9px 20px;
	margin: 5px 0px 5px 0px;
    font-size: 16px;
    background: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    color: #343434;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
	cursor: pointer;
}
	.menulinks:hover{
	border: 1px solid #FFC50E;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 19%);
	}
	.menulinks.active{
		background: #000;
    color: #FFC50E;
    -webkit-box-shadow: none;
    box-shadow: none;
	}
.choise-product{
	width: 100%;
	margin-top: 50px;
	margin-left: 20px;
}
.product-taps{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 10px;
	margin-bottom: 30px;
}
	.Product-item{
		
	}
	.product-header{
	padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(0 0 0);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFC50E;
    border-radius: 10px 10px 0px 0px;
	}
	.product-body{
	-ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px 0px 10px 10px;
	}
	.product-row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
	}
	.product-row:hover{
		border-left: 5px solid;
	}
	.product-h5{
	font-size: 17px;
	font-weight: 600;
	}
	.choise-service-select{
		display: none;
	}
	.service-select-tittle{
		display: none;
	}
}
/*menunew-mobile*/
@media (max-width:900px){
.top-header{
}
.navbar-td{
	background-color: #000;
    display: none;
}
.navbar-td a{
	font-weight: 600;
    color: #fff;
    margin-left: 10px;
}
.navbar-td a:hover{
	color: #FFC50E;
}
.navlink{
	padding: 10px 10px 10px 0px;
}
.tieude{
	display: flex;
}
.tieude img{
	width: 30px;
	height: auto;
	margin: 10px 0px 0px 15px;
}
.logo{
        display: flex;
        justify-content: center;
        height: auto;
        margin-bottom: 0px;
        margin-top: 0px;
        align-items: center;
        padding: 30px 0px;
}
	.logo a{
		text-align: center;
	}
.logo img{
	width: 65%;
	height: auto;
}
.header{
	height: auto;
	background-color: #000 !important;
	padding: 10px 0px;
}
.navmenu{
	display: flex;
    width: 100%;
    justify-content: center;
}
.menu{
        display: flex;
        text-align: center !important;
        background-image: none;
        width: 100%;
        border-radius: 100px;
        padding: 0px;
        box-shadow: none;
        flex-wrap: wrap;
        justify-content: center;
}
	.menu-content{
	    display: flex;
        height: 40px;
        margin-bottom: 10px;
        width: 100%;
        justify-content: center;
}
.menu a{
		display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        width: auto;
        height: auto;
        margin: 0px 5px 0px 5px;
        border: 2px solid #fff;
        padding: 10px;
        border-radius: 10px;
}
.menu a:hover{
	background-color: #fff;
    border-radius: 10px;
	color: #000;
}
.menu button{
		display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
        width: auto;
        margin: 0px 5px 0px 5px;
        border-radius: 10px;
		border: none;
}
.menu button:hover{
	background-color: #000;
    margin: 5px;
    border-radius: 10px;
	color: #fff;
}
.btnmenu{
	width: 100%;
}
.box-cate{
	width: 100%;
	margin: 40px 0px 30px 0px;
	padding: auto 10px auto 10px;
}
.title-box{
	display: flex;
    justify-content: center;
}
.title-box h2{
	background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 40px 15px 40px;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
	margin-bottom: 30px;
}
.box-cate-item{
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px;
    max-width: 100%;
    min-width: 100%;
    width: auto;
    flex-wrap: wrap;
}
.item{
		float: left;
        width: 45%;
        margin: 0px 5px 10px 5px;
        border-radius: 12px;
        background-image: linear-gradient(to right, #b3d6d4, #f1ecdc);
        height: 265px;
        position: relative;
}
.item:hover{
	box-shadow: -17px 22px 34px -14px #b7b7b7;
	transform: scale(100%);
	background-image: none;
	background-color: #FFC50E;
}
.item span{
	display: flex;
    font-weight: 700;
    font-size: 17px;
    justify-content: center;
}
.item ul{
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 0px 25px;
}
.box-icon{
	display: flex;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}
.box-icon img{
	height: 100%
}
.title-pn{
	display: flex;
    justify-content: center;
}
.title-pn h2{
	background-color: #FFC50E;
    color: #000;
    text-align: center;
    padding: 15px 40px 15px 40px;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 800;
	margin-bottom: 85px;
}
.item-pn{
	float: left;
	width: 45%;
	margin: 0px 5px 80px 5px;
	border-radius: 12px;
	background-image: linear-gradient(to right, #b3d6d4, #f1ecdc);
	height: 265px;
	position: relative;
}
.item-pn-nd{
	transform: translateY(-50px);
	height: 300px;
}
.item-pn:hover{
	box-shadow: -17px 22px 34px -14px #b7b7b7;
	transform: scale(100%);
	background-image: none;
	background-color: #FFC50E;
}
.item-pn span{
	display: flex;
    font-weight: 800;
    font-size: 17px;
    justify-content: center;
	margin-top: 20px;
}
.item-pn img{
	width: 20px;
	height: 100%;
}
.item-pn ul{
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 0px 25px;
}
.store-container{
	display: flex;
    justify-content: center;
}
.store{
	display: flex;
    max-width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.store img{
	width: 100%;
    border-radius: 10px;
	margin-bottom: 15px;
}
.store img:hover{
	transform: scale(100%);
}
.store a{
	text-align: center;
}
.store-br{
    display: flex;
    width: 45%;
    border-radius: 15px;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: center;
}
.store-br span{
	font-size: 17px;
	font-weight: 700;
}
.store-text{
	margin-top: 10px;
}
.avt-pn{
	display: flex;
    justify-content: center;
}
.avt-pn img{
	width: 100px;
    border-radius: 100%;
    outline: 6px solid #fff;
    border: 1px solid #000;
}
.info-pn{
	display: flex;
	margin: 10px 10px 0px 15px;
}
.info-pn a{
	margin: -2px 0px 0px 5px;
}
.contact{
	background-color: #000;
	display: flex;
    justify-content: center;
}
	.contact-fixed{
		width: 100%;
	}
.contact-nd{
	display: flex;
	max-width: 100%;
	min-width: 100%;
	flex-direction: column;
	align-items: center;
}
.contact-child{
	width: 300px;
	height: auto;
	margin: 15px 10px 15px 10px;
}
.contact-child-nd{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-child-nd h2{
	font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}
.contact-child-nd span{
	font-size: 18px;
	font-weight: 700;
	margin-left: 5px;
}
.contact-text{
	display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact-text p{
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-align: center;
}
.contact-text a{
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-align: center
}
.contact-text a:hover{
	color: #FFC50E;
}
.help-nd{
	display: flex;
    color: #000;
    background-color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    justify-content: center;
	margin-bottom: 15px;
}
.help-nd:hover{
	background-color: #FFC50E;
}
.help-nd img{
	width: 40px;
    height: auto;
}
.boxpay{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    outline: 0;
}
.boxpay-title{
    display: flex;
 	background-color: #FFC50E;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    height: 50px;
}
.boxpay-title span{
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
}
.boxpay-nd{
    position: relative;
    display: flex;
    justify-content: center;
	padding: 20px 0px;
}
.boxpay-nd-item{
    width: 200px;
    border-radius: 15px;
    margin: 10px;
	background-image: linear-gradient(to right, #b3d6d4, #f1ecdc);
}
.boxpay-nd-item a{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    width: 100%;
    margin:0px;
}
.boxpay-nd-item a:hover{
	background-color: #FFC50E;
    margin: 0px;
    border-radius: 15px;
	color: #fff;
}
.boxpay-nd-item img{
	width: 100%;
}
.boxpay-bt{
	display: flex;
    justify-content: center;
    padding: 15px 0px;
}
.boxpay-bt button{
	background-color: #000;
	color: #fff;
	border-radius: 100px;
	width: auto;
	padding: 5px 20px 5px 20px;
	border: 0px;
}
.boxpay-bt button:hover{
	background-color: #FFC50E;
}
	/*Nut trong suốt đen*/
.buton-or{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
	background-color: #FFC50E;
    color: #000;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 10px;
	border-radius: 10px;
}
.buton-or:hover{
	background-color: #000;
    margin: 0px 2px 0px 2px;
    border-radius: 10px;
	color: #fff;
}
/*Nut trong suốt đen*/
.buton-cash{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    margin: 0px 2px 0px 2px;
    padding: 10px;
	border-radius: 10px;
	border: 2px solid #FFF;
	height: 100%
}
/*.buton-cash:hover{
	background-color: #fff;
	border: 2px solid #fff;
	filter: invert(1);
}
*/
.buton-cash span{
	transform: rotate(-90deg);
    padding: 3px 0px 0px 0px;
    font-size: 18px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.drop-cash{
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.drop-cash input{
	box-sizing: border-box;
    padding: 0;
    width: 200px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
	z-index: 2;
}
.drop-cash input:checked ~ .buton-cash{
	background-color: #000;
	border: 2px solid #000;
	filter: invert(1);
}
.drop-cash input:checked ~ .buton-cash span{
	transform: rotate(90deg);
}
.drop-cash ul{
	    display: flex;
        z-index: 200;
        box-shadow: 0px 5px 6px -3px #929292;
        width: 100%;
        background-color: #000;
        transform: scaleY(0);
        /* transform: none; */
        transform-origin: top;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        margin: 5px 0px 0px 0px;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 10px 10px;
}
.drop-cash input:checked ~ ul{
	transform: none;
}
.drop-cash ul a{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin: 5px 2px 5px 2px;
    padding: 5px 10px 5px 5px;
	border: none;
}
.drop-cash ul a:hover{
	color: #FFC50E;
	background-color: transparent;
	margin: 0px 2px 0px 2px;
}
.buton-cash img{
	width: 25px;
	height: auto;
	filter: brightness(0) invert(1);
   -webkit-filter: brightness(0) invert(1);
}
.buton-cash a{
	color: #FFF;
	border: none;
}
.buton-cash a:hover{
	color: #000;
}
/*Nut cam chữ đen*/
.buton-tf{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 10px;
}
.buton-tf:hover{
	background-color: #000;
    margin: 0px 2px 0px 2px;
    border-radius: 10px;
	color: #fff;
}
.taikhoan{
	display: flex;
    align-items: center;
}
.taikhoan img{
	width: 20px;
    height: 20px;
}
.taikhoan span{
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFC50E;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 5px;
}
	/*Product*/
.cont-product{
	display: flex;
	justify-content: center;
	}
.product{
	display: flex;
    width: 90%;
    max-width: 1200px;
    margin-top: 30px;
    flex-direction: column;
	align-items: center;
    }
.choise-service{
	display: none;
	margin-top: 50px;
	min-width: 220px;
	font-weight: 500;
	}
.choise-service ul{
	list-style: none;
	padding: 0px;
	}
.choise-service h2{
	font-size: 20px;
    font-weight: bold;
	}
.menulinks{
	position: relative;
    display: block;
    padding: 9px 20px;
	margin: 5px 0px 5px 0px;
    font-size: 16px;
    background: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    color: #343434;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
	cursor: pointer;
}
.menulinks:hover{
	border: 1px solid #FFC50E;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 19%);
	}
.menulinks.active{
	background: #000;
    color: #FFC50E;
    -webkit-box-shadow: none;
    box-shadow: none;
	}
.choise-product{
	width: 100%;
	margin-top: 25px;
}
.product-taps{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 10px;
	margin-bottom: 30px;
}
.Product-item{
		
	}
.product-header{
	padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(0 0 0);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFC50E;
    border-radius: 10px 10px 0px 0px;
	}
.product-body{
	-ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px 0px 10px 10px;
	}
.product-row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
	}
.product-row:hover{
		border-left: 5px solid;
	}
.product-h5{
	font-size: 17px;
	font-weight: 600;
	}
.choise-service-select{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	}
.service-select{
	display: flex;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
	cursor: pointer;
	appearance: none;
padding: 0px 30px 0px 30px;
	}
.choise-service-select a{
	position: absolute;
    color: #fff;
    margin: 0px 20px 0px 10px;
	}
.service-select-tittle{
	font-size: 20px;
	font-weight: 800;
	}
}
